h2#form {
  color: rgb(249,189,90);
  font-size: 60px;
  margin: 25px 0px 25px 0px;
  text-align: left;
  @media(max-width:600px) {
    font-size: 30px;

  }
}

#form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  min-width: 50vw;
    height: 40px;
    background: rgb(117, 114, 114);
    border-radius: 10px;
    color: rgb(145, 140, 140);
    margin-top: 5px;
}

textarea{
  min-width: 50vw;
    font-size: larger;
    height: 40px;
    background: rgb(35, 34, 34);
    border-radius: 10px;
    color: white;
}

h1 {
  text-decoration: none;
}
input::placeholder {
  color: rgb(206, 198, 198);
  font-weight: lighter;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin-top: 5px;
  background-color: inherit;
  color: white;
}

.button:hover {
  background-color: rgb(165,1,1);
}

.stuff {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 90vh;
  @media (max-width: 750px){
    margin: 10px;
    height: 70vh;
  }
}