#form {
  color: white;
}

#form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  min-width: 50vw;
    font-size: larger;
    height: 40px;
    background: rgb(35, 34, 34);
    border-radius: 10px;
    color: white;
    border: solid 2px rgb(165,1,1);
}

textarea{
  min-width: 50vw;
    font-size: larger;
    height: 40px;
    background: rgb(35, 34, 34);
    border-radius: 10px;
    color: white;
    border: solid 2px rgb(165,1,1);
}

h1 {
  text-decoration: none;
}
input::placeholder {
  color: white;
  font-size: larger;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid rgb(165,1,1);
  margin-top: 5px;
  background-color: inherit;
  color: white;
}

.button:hover {
  background-color: rgb(165,1,1);
}

.stuff {
  background: rgb(72, 7, 7, .5);
  padding: 20px;
}