h1#testimonial-header {
    margin: 10;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 60px;
    color: rgb(249,189,90);
    @media(max-width: 750px) {
        font-size: 10vw;
        margin: 20px;
    }
}

div#testimonial-container {
    margin-top: 3%;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
}

#text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

p.testimonial {
    width:50%;
    display: flex;
    text-align: center;
}
@media (max-width: 600px){
    .testimonial{
    font-size: 16px;
    justify-content: center;
    }
}

#test-box {
    display: flex;
    justify-content: center;
}
.customer {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    color: white;
    @media (max-width: 600px){
        font-size: 16px;
        justify-content: center;
      }   
}
.ind-test-container {
    border-radius: 5px;
    display: flex;
    background: rgb(53, 52, 52);
    flex-direction: column;
    align-items: center;
}
@media(min-width: 1260px){
    .ind-test-container{
        background: none;
    }
}

.centered-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media(max-width:600px ){
        display: flex;
        flex-direction: column;
    }
}
.picture {
    height: 150px;
    width: 150px;
    margin: 5px;
    @media (max-width: 600px){
        display: none;
    }
}
.picture:hover {
    transform: scale(2.0);
    cursor: pointer;
}
.test-img-container {
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    width: 400px;
    margin: 1%;
    padding: 1%;
}
@media(max-width: 600px){
    .test-img-container{
        width: 100%;
    }
}
@media(min-width: 1260px){
    .test-img-container{
        background-color: rgb(53, 52, 52);
        border-radius: 5px;
    }
}
