h1 {
  display: flex;
  justify-content: center;
}

.hero {
  height: auto;
  width: 70%;
  background: rgb(64, 64, 64, 0);
  display: flex;
  justify-content: center;
}
#hero-box {
  display:flex;
  justify-content: center;
}

p {
  font-size: 20px;
  color: white;
  @media (max-width: 600px){
    display: none;
  }
}

#p-container {
width: 100%
}

svg {
  height: 50px;
  width: 50px;
}

.social {
  display: flex;
  color: rgb(165, 1, 1);
}

span {
  color: rgb(165, 1, 1);
}
#sm-intro {
  @media(max-width:600px) {
    display: contents;
    font-size: 24px;

  }
}
#intro-title {
  font-size: 20px;
  color: rgb(249,189,90);
  font-weight: lighter;
  @media (max-width: 600px){
    display: none;
  }
}

/* color: rgb() */