h1 {
  display: flex;
  justify-content: center;
}

.head{
  z-index: 2000;
}
.hero {
  height: auto;
  width: 70%;
  background: rgb(64, 64, 64, 0);
  display: flex;
  justify-content: center;
}
#hero-box {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  font-size: 20px;
  color: white;
  @media (max-width: 600px){
    display: none;
  }
}

#p-container {
width: 100%
}

svg {
  height: 50px;
  width: 50px;
}

.social {
  display: flex;
  color: rgb(165, 1, 1);
}

span.cs {
  color: rgb(165, 1, 1);
}
#sm-intro {
  @media(max-width:600px) {
    display: contents;
    font-size: 24px;

  }
}
#intro-title {
  font-size: 60px;
  margin: 25px 0 25px 0;
  font-weight: bold;
  color: rgb(249,189,90);
  @media (max-width: 600px){
    display: none;
  }
}

#tradition {
  color: rgb(249,189,90);
}

.contact-box {
  display: flex;
  justify-content: center;
}