
@media (min-width: 600px){
    .navigation {
      display: none;
      height: 50px;
    }
    .mobile-navigation {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: black;
    }}

    .hamburger{
        @media screen and (max-width: 600px){
          position: absolute !important;
          right: 3% !important;
          top: 2% !important;
          z-index: 101;
        }
        
        @media screen and (min-width: 320px) and (max-width: 989px ){
          position: absolute !important;
          right: 3% !important;
          top: 2% !important;
        }
      }
      .navigation{
        background: #ffc1c1;
        font-family: 'Comfortaa', cursive;
      }

li {
    list-style: none;
    font-size: large;
    display: flex;
    justify-content: center;
    padding: 10px;
    @media(min-width:320px){
        font-size: 20px;
    }
}
ul {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    @media(min-width: 600px){
        flex-direction: row;
    }
}

.mobile-navigation {
    @media(min-width: 600px){
        display:none;
    }
}
